mixin main
    section
        .main
            .container
                        .main__posts.d-flex
                            .main__post1.gradient
                                .main__description.d-flex.flex-column
                                    h3 November 28, 2015
                                    p Fantastic Designs of 2015 Concept Cars
                            .main__post2.main__post-small
                                .main__image(style="background-image:url('./img/Layer2.jpg')")
                                .main__description.d-flex.flex-column
                                    h3 November 24, 2015
                                    p How To Find Design Inspiration In The Simple Things Around You
                                    img(src="./img/Layer3.png" alt="author" class="main__author")
                        .main__posts2.d-flex
                            .main__post3.main__post-small
                                .main__image(style="background-image:url('./img/Layer5.jpg')")
                                .main__description.d-flex.flex-column
                                    h3 November 18, 2015
                                    p The Only Guide To Choosing Website Photos You’ll Ever Need
                                    img(src="./img/Layer3.png" alt="author" class="main__author")
                            .main__post4.main__post-small
                                .main__image(style="background-image:url('./img/Layer7.jpg')")
                                .main__description.d-flex.flex-column
                                    h3 November 24, 2015
                                    p Growth Hack Your Way to a Successful Freelance Career
                                    img(src="./img/Layer3.png" alt="author" class="main__author")
                            .main__post5.main__post-small
                                .main__image(style="background-image:url('./img/Layer9.jpg')")
                                .main__description.d-flex.flex-column
                                    h3 November 08, 2015
                                    p Get 80% Off DSLR Photography Course Bundle
                                    img(src="./img/Layer3.png" alt="author" class="main__author")
                        .main__loading.d-flex.justify-content-center
                            img(src="./img/loader.png" alt="loader" class="main__loader")
                            p loading new content


                            





